@font-face{
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BonaNova';
    src: url('./fonts/BonaNova-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter18pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: #DDCEB3;
    background-image: url('./images/safespace.png');
}

a{
    color: #EFE6D6;
    transition-duration: .3s;
}

a:hover{
    color: #DDCEB3;
}

.header-menu{
    background-color: #7C6158;
    min-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.header-menu-list{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header-menu-item{
    position: relative;
    flex-shrink: 0;
}

.header-menu-item:hover > ul{
    display: initial;
}

.header-menu-link{
    text-decoration: none;
    font-family: 'Montserrat';
    white-space: nowrap;
    display: block;
    transition: .3s;
    padding: 15px;
}

.header-menu-link.is-current{
    text-decoration: underline;
}

.drop-down-menu .header-menu-link:hover{
    background-color: #78584e;
}

.drop-down-menu{
    position: absolute;
    left: 0;
    background-color: #7C6158;
    display: none;
    padding-top: 6px;
}

.content_box{
    background-color: #EFE6D6;
    background-image: url('./images/content_box.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 1200px;
    min-height: 100vh;
}

.footer{
    text-decoration: none;
    font-family: 'Montserrat';
    color: #EFE6D6;
    min-height: 200px;
    background-color: #7C6158;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-inner{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
    width: 1200px;
    justify-content: space-between;
}

.social_media{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-line{
    width: 100%;
    height: 1px;
    background-color: #EFE6D6;
}

.footer-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-main-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}